html{
	margin: 0;
	padding: 0;
	background-color: #E1E8E1;
	font-family: 'bebaskai';
}
body{
	margin: 0;
	padding: 0;
}
@font-face{
	src: url('assets/fonts/aku_kamu/akukamu.otf');
	font-family: 'aku_kamu';
}
@font-face{
	src: url('assets/fonts/bebaskai/fonts/bebaskai-regular.otf');
	font-family: 'bebaskai';
}
.vert-bar{
	height: 3000px;
	width: 40%;
	margin-left: 30%;
	position: absolute;
	background-color: #4c4c4c;
	z-index: -1;
}
.header-h1{
	font-family: 'bebaskai';
    position: absolute;
    width: 100%;
    color: #fff;
    font-size: 90px;
    text-shadow: 2px 2px 8px #000000;
    text-align: center;
    letter-spacing: 8px;
    z-index: 2;
}
.header-div{
	width: 25%;
    height: 250px;
    background-color: rgba(0, 73, 96, 0.7);
    padding: 10px;
    position: absolute;
    margin-left: 47%;
    margin-top: 140px;
    color: #fff;
    font-family: 'bebaskai';
}
.header-div p{
	width: 70%;
	margin-left: 15%;
	line-height: 25px;
}
.header-div h1{
	margin-left: 15%;
}
.body-div2{
	padding-right: 20px;
    width: 30%;
    height: 550px;
    position: absolute;
    margin-top: 540px;
    margin-left: 20%;
    background-color: #fff;
    font-family: 'bebaskai';
    z-index: 2;
}
.black-h1{
	font-size: 40px;
	width: 80%;
	margin-left: 10%;
	text-align: center;
	border-top: 1px solid #ff6c3d;
}
.body-div2 h2{
	margin-left: 8%;
}
.body-div2 p{
	margin-left: 8%;
}
.orange-text{
	font-size: 40px;
	width: 80%;
	margin-left: 8%;
	text-align: center;
	color: #ff6c3d;
}
.body-div2img{
	height: 650px;
	width: 25%;
	position: absolute;
	background-color: #FF4401;
	margin-top: 490px;
	margin-left: 50%;
	z-index: 2;
}
.body-div2add{
	height: 200px;
	width: 50%;
	margin-left: 26%;
	background-color: #f22720;
	margin-top: 1000px;
	position: absolute;
	opacity: 0.7;
}
.body-div3add{
	height: 200px;
	width: 54%;
	margin-left: 23%;
	background-color: #EF7953;
	margin-top: 1290px;
	position: absolute;
	opacity: 0.7;
}
.body-div3img{
	height: 650px;
	width: 25%;
	position: absolute;
	background-color: #0BD2F1;
	margin-top: 1340px;
	margin-left: 25%;
	z-index: 2;
}
.body-div3{
	padding-right: 20px;
    width: 30%;
    height: 550px;
    position: absolute;
    margin-top: 1390px;
    margin-left: 49%;
    background-color: #fff;
    font-family: 'bebaskai';
    z-index: 2;
}
.body-div3 h2{
	margin-left: 8%;
}
.body-div3 p{
	margin-left: 8%;
}
.body-div3 input{
	margin-top: 30px; 
	background-color: #ff6c3d;
	width: 30%;
	margin-left: 35%;
	height: 80px;
	font-family: 'bebaskai';
	color: #fff;
	font-size: 30px;
	border-radius: 40px;
	cursor: pointer;
	letter-spacing: 5px;
}
.body-div3 input:active{
	background-color: #FF4401;
	transition: .4s;
}
.bottom-h1{
    position: absolute;
    width: 100%;
    color: #fff;
    font-size: 75px;
    text-shadow: 2px 2px 8px #000000;
    text-align: center;
    letter-spacing: 8px;
    z-index: 2;
    margin-top: 2200px;
}
.call{
	width: 30%;
	height: 400px;
	background-color: rgba(0, 73, 96, 0.7);
	position: absolute;
	margin-top: 2500px;
	margin-left: 55%;
}
.call h1{
	color: #fff;
	height: 20%;
	margin-top: 15%;
	width: 100%;
	text-align: center;
}
.call a{
	font-size: 30px;
    color: #fff;
    letter-spacing: 5px;
    text-align: center;
    width: 50%;
    display: inline-block;
    padding-top: 10%;
    text-decoration: none;
    background-color: #ff6c3d;
    margin-top: 0;
    padding: 0;
    padding-top: 20px;
    padding-bottom: 20px;
    border-radius: 40px;
    margin-left: 25%;
}

























